<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= title %> - Semcopa</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Jogo desenvolvido para a Semcomp 25!">
    <meta name="keywords" content="Semcomp 25, ICMC, USP, Jogo, Game, Soccer, World Cup 2022">
    <meta name="google-site-verification" content="MJJplvApDF9IRA0cEYBW6-q2JwLvqZSlVcFymuJ99UU" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="<%= public %>/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <!-- Header with Logo -->
    <header>
        <a href="<%= public %>/">
            <img src="<%= public %>/images/banner personagens.png" title="Semcopa Logo" alt="Semcopa - Logotipo do Jogo">
        </a>
    </header>

    <!-- Main with variable content -->
    <%- include(main) -%>
    
    <!-- Footer with copyright and links -->
    <footer>
        <p class="copyright">
            <a href="https://semcomp.icmc.usp.br/" target="_blank">© Semcomp 2022</a> | 
            <a href="https://fog-icmc.itch.io/semcomp-25" target="_blank"> Itch.io</a> |
            <a href="<%= public %>/informacoes/#privacidade">Políticas de Privacidade</a> | 
            <a href="<%= public %>/informacoes/#termos-uso">Termos de Uso</a> | 
            <a href="<%= public %>/informacoes/#fale-conosco">Fale Conosco</a>
        </p>
    </footer>
</body>
</html>